* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 300px;
  }
}

@import "./base/variables";
@import "./base/animations";

@import "./blocks/promo";
@import "./blocks/header";
@import "./blocks/button";
@import "./blocks/advantages";
@import "./blocks/title";
@import "./blocks/consultation";
@import "./blocks/forms";
@import "./blocks/carousel";
@import "./blocks/catalog";
@import "./blocks/reviews";
@import "./blocks/footer";
@import "./blocks/modal";
@import "./blocks/pageup";
