.advantages {
  min-height: 473px;
  padding: 73px 0 0;
  background: #f6f6f6;
  text-align: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 55px;
  }
  &__item {
    flex: 1 1 0;
    width: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0d0d0d;
    margin-right: 68px;
    &:last-child {
      margin-right: 0;
    }
    h3 {
      margin: 35px 0 10px;
      font-weight: 700;
      font-size: 18px;
    }
    a {
      text-decoration: underline;
      color: $main-color;
    }
  }
}
