.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px;
  &__close {
    position: absolute;
    top: 0;
    color: $main-color;
    right: -45px;
    font-size: 42px;
    line-height: 22px;
    cursor: pointer;
  }
  &__title {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  &__desc {
    font-size: 14px;
    color: #0d0d0d;
    font-weight: 500;
    text-align: center;
  }
  &_mini {
    min-height: 143px;
  }
  .error {
    border: 1px solid $main-color;
  }
  label.error {
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}

#modal-consultation,
#modal-order,
#modal-thanks {
  display: none;
}
