@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: local("MuseoSansCyrl-500"), url("MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: local("MuseoSansCyrl-300Italic"),
    url("MuseoSansCyrl-300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: local("MuseoSansCyrl-500Italic"),
    url("MuseoSansCyrl-500Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: local("MuseoSansCyrl-900"), url("MuseoSansCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: local("MuseoSansCyrl-700"), url("MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 700";
  src: local("MuseoSansCyrl-700Italic"),
    url("MuseoSansCyrl-700Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans Cyrl 300";
  src: local("MuseoSansCyrl-300"), url("MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: local("MuseoSansCyrl-100"), url("MuseoSansCyrl-100.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: local("MuseoSansCyrl-100Italic"),
    url("MuseoSansCyrl-100Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans Cyrl 900";
  src: local("Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
    url("MuseoSansCyrl-900Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
